<div class="shopping-summary">
  <div class="row">
    <!-- Category Filter -->
    <div class="col-sm-3">
      <dvd-shopping-summary-filter></dvd-shopping-summary-filter>
    </div>
    <!-- /Category Filter -->

    <div class="col-sm-9">
      <!-- Main film panel -->
      <div class="row" *ngFor="let inventoryRow of displayInventory">
        <div class="col-sm-3" *ngFor="let inventory of inventoryRow">
          <a href="javascript:void(0)" (click)="showModal(inventory.filmTitle)">
            <div class="panel panel-default">
              <div class="panel-heading ellipsis">{{inventory.filmTitle}}</div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">{{inventory.category}}</div>
                  <div class="col-xs-6">Rating: {{inventory.rating}}</div>
                </div>
                <div class="row subrow">
                  <div class="col-xs-3">${{inventory.rentalRate}}</div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- /Main film panel -->

      <!-- Pagination row -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
          <pagination
            [totalItems]="pagination.totalItems"
            [ngModel]="pagination.currentPage"
            [maxSize]="pagination.maxSize"
            [itemsPerPage]="pagination.itemsPerPage"
            class="pagination-lg"
            [boundaryLinks]="false"
            [rotate]="false"
            (pageChanged)="updatePage($event)"></pagination>
        </div>
      </div>
      <!-- /Pagination row -->
    </div>
  </div>
</div>

<film-detail-modal [selectedFilm]="selectedFilm"></film-detail-modal>

<login-modal></login-modal>
