<div class="shopping-summary">
  <div class="row">
    <!-- Category Filter -->
    <div class="col-sm-3">
      <!-- TODO: change to proper filter: http://ui-patterns.com/patterns/LiveFilter -->
      <div class="row">
        <h3>Search:</h3>
      </div>
      <div class="row">
        <h4>Categories</h4>
      </div>
      <div class="row underline">
        <ng-template ngFor let-category [ngForOf]="categories" let-i="index">
          <div class="col-sm-4">
            <label class="ellipsis">
              <input type="checkbox" /> {{category}}
            </label>
          </div>
          <div class="clearfix" *ngIf="i % 3 === 2"></div>
        </ng-template>
      </div>
    </div>
    <!-- /Category Filter -->

    <div class="col-sm-9">
      <!-- Main film panel -->
      <div class="row">
        <div class="col-xs-12">
          <div class="row" *ngFor="let inventoryRow of displayInventory">
            <div class="col-sm-3" *ngFor="let inventory of inventoryRow">
              <div class="panel panel-default">
                <div class="panel-heading ellipsis">{{inventory.filmTitle}}</div>
                <div class="panel-body">
                  Panel content
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Main film panel -->

      <!-- Pagination row -->
      <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
          <pagination
            [totalItems]="pgTotalItems"
            [ngModel]="pgCurrentPage"
            [maxSize]="maxSize"
            [itemsPerPage]="itemsPerPage"
            class="pagination-lg"
            [boundaryLinks]="false"
            [rotate]="false"
            (numPages)="pgTotalPages = $event"
            (pageChanged)="updatePage($event)"></pagination>
        </div>
        <!-- <div class="col-md-3">
          <select
            class="form-control"
            name="summaryPageSize"
            [(ngModel)]="itemsPerPage"
            (ngModelChange)="itemCountChanged($event)">
            <option *ngFor="let size of maxSizes" [value]="size">{{size}}</option>
          </select>
        </div> -->
      </div>
      <!-- /Pagination row -->
    </div>
  </div>
</div>
