<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)" routerLink="home" routerLinkActive="active">DVD Store</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="about">About</a></li>
      </ul>
      <div class="navbar-right navbar-form form-group">
        <button type="button" class="btn btn-link login-button" (click)="showShoppingCart()">
          Login
        </button>
        <label class="navbar-text" for="storeSelector">Store:</label>
        <select class="form-control" name="storeSelector" [(ngModel)]="selectedStore" (ngModelChange)="storeSelected($event)">
          <option *ngFor="let store of stores" [value]="store.storeId">{{store.city}} / {{store.district}}</option>
        </select>
        <button type="button" class="btn btn-link shopping-cart-button" (click)="showShoppingCart()">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span class="badge">{{shoppingCartSize}}</span>
        </button>
        <button type="button" class="btn btn-link shopping-cart-button" (click)="clearCart()">
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</nav>
