/* You can add global styles to this file, and also import other style files */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline {
  border-bottom: 1px solid #ccc;
}
