/* You can add global styles to this file, and also import other style files */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

/* From http://stackoverflow.com/a/23741988 */
.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.text-align-h3 {
  margin-top: 30px;
}

.padding-top {
  padding-top: 15px;
}
